*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}
header{
    max-width: 1920px;
    width: 100%;
    height: 150px;
    margin: auto;
    
}

.head{
    display: flex;
    justify-content: space-between;
}
.head_a2{
    color: orangered;
    text-decoration: none;
    transition: .5s ease;
}
.head_a{
    color: black;
    text-decoration: none;
    transition: .5s ease;
}

.head_a2:hover{
    color: #000;
    box-shadow: #000 0px 2.5px 0px 0px;
}
.head_a:hover{
    color: orangered;
    box-shadow: orangered 0px 2.5px 0px 0px;
}
.head_ul{
    display: flex;
    align-items: center;
    height: 120px;
    gap: 50px;
}
.head_img{
    height: 120px;
}
.sec_Text{
    color: #fff;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    gap: 50px;
}
.text_h1{
    width: 60%;
    text-align: center;
    font-size: 50px;
}
.text_p{
    font-size: 25px;
}
.text_h5{
    font-size: 30px;
}
/* section start ****************************************************************************************** */
.number1{
    max-width: 1920px;
    width: 100%;
    height: 600px;
    background: url(img/Rectangle\ 48.png)no-repeat center center / cover ; 
    margin: auto;
}
.sec_btn{
    display: flex;
    justify-content: center;
    width: 1300px;
    gap: 10px;
    position: absolute;
    z-index: 5;
}
.btni:hover{
    width: 125px;
    height: 40px;  
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
    background: #0000;
}
.btni{
    width: 125px;
    height: 40px;  
    color: #fff;
    border: none;
    border-radius: 50px;
    background: orangered;
    transition: 2.5s ease;
}

.btnii:hover{
    width: 125px;
    height: 40px;  
    color: #fff;
    border: none;
    border-radius: 50px;
    background: orangered;
}
.btnii{
    width: 125px;
    height: 40px;  
    color: #fff;
    border-color: #fff;
    border-radius: 50px;
    background: #0000;
    transition: 2.5s ease;
}
.sec_img{
    display: flex;
    position: relative;
    bottom: 300px;
}
.num4_gmi{
    display: flex;
    justify-content: center;
}
.text_p{
    color: #fff;
    display: flex;
    justify-content: center;
}
 /* number4 start */
.number4{
    max-width: 1920px;
    width: 100%;
    height: 600px;
    margin: auto;
}
/* number2 start ***************************************************************************************** */



.number2{
    max-width: 1920px;
    width: 100%;
    height: 2600px;
    margin: auto;
}
.liniya{
    width: 90%;
    height: 3px;
    background: #bdbdbd;
    margin: auto;
}
.line_box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.secti_text{
    display: flex;
    justify-content: center;
}
.secti_gmi{
    display: flex;
}
.text_h5{
    color: orangered;
    font-size: 30px;
}
.texttt_h1{
    width: 90%;
    font-size: 50px;
}
.text_p{
    color: rgb(255, 255, 255);
    width: 60%;
}
.textt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 800px;
    gap: 50px;
}
/* number3 start ***************************************************************************************** */
.number3{
    max-width: 1920px;
    width: 100%;
    height: 600px;
    margin: auto;
    background: url(img/Rectangle\ 47.png)no-repeat center center / cover;
}
.num{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 500px;
    gap: 20px;
}
.num_btn:hover{
    width: 125px;
    height: 50px;  
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    background: #0000;
}
.num_btn{
    width: 125px;
    height: 50px;  
    color: #fff;
    border: none;
    border-radius: 10px;
    background: orangered;
    transition: 2.5s ease;
}

.num_btni:hover{
    width: 125px;
    height: 50px;  
    color: #fff;
    border: none;
    border-radius: 10px;
    background: orangered;
}
.num_btni{
    width: 125px;
    height: 50px;  
    color: #fff;
    border-color: #fff;
    border-radius: 10px;
    background: #0000;
    transition: 2.5s ease;
}
/* Footer start ******************************************************************************************* */
footer{
    max-width: 1920px;
    width: 100%;
    height: 200px;
    margin: auto;
}
.row{
    display: flex;
    align-items: center;
    height: 200px;
}
.fot_p{
    margin-bottom: 0rem     ;
}

.fot_text{
    display: flex;
    justify-content: center;
    width: 100%;            
}
.text_p {
    color: rgb(163 161 161);
    width: 73%;
}
@media screen and (max-width: 1200px) {
    .sec_btn {
        display: flex;
        justify-content: center;
        width: 97%;
        gap: 10px;
        position: absolute;
        z-index: 5;
    }
    .text_p {
        color: rgb(163 161 161);
        width: 73%;
    }
}
@media screen and (max-width: 992px) {
    .sec_btn {
        display: flex;
        justify-content: center;
        width: 97%;
        gap: 10px;
        position: absolute;
        z-index: 5;
    }
    .number2{
        height: 2090px;
    }
    .box_img{
        width: 100%;
    }
    .text_h1 {
        width: 90%;
        text-align: center;
        font-size: 50px;
    }
    .text_p {
        color: rgb(255, 255, 255);
        width: 73%;
    }
    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .text_p {
        color: rgb(163 161 161);
        width: 73%;
    }
}
@media screen and (max-width: 768px) {
    .sec_btn {
        display: flex;
        justify-content: center;
        width: 70%;
        gap: 10px;  
        position: absolute;
        z-index: 5;
    }
    .text_h1 {
        width: 90%;
        text-align: center;
        font-size: 50px;
    }
    .text_p {
        color: rgb(255, 255, 255);
        width: 72%;
    }
    .text_h5 {
        color: orangered;
        font-size: 20px;
    }
    .text_p {
        color: rgb(163 161 161);
        width: 73%;
    }
    .texttt_h1 {
        width: 90%;
        font-size: 30px;
    }
    .text_p {
        color: rgb(163 161 161);
        width: 73%;
        font-size: 20px;
    }
    .number2{
        height: 1500px;
    }
    .text_h1 {
        width: 90%;
        text-align: center;
        font-size: 45px;
    }
    .text_p {
        color: rgb(163 161 161);
        width: 73%;
        font-size: 17px;
    }
}
@media screen and (max-width: 541px) {
    .number2{
        height: 2260px;
    }
    
    .sec_btn {
        display: flex;
        justify-content: center;
        width: 97%;
        gap: 10px;
        position: absolute;
        z-index: 5;
    }
    .text_p {
        color: rgb(163 161 161);
        width: 73%;
    }
    .number2{
        height: 2366px;
    }
    .box_img {
        width: 100%;
        position: relative;
        left: 87px;
    }
    .text_h5 {
        color: orangered;
        font-size: 20px;
        text-align: center;
    }
    .texttt_h1 {
        width: 90%;
        font-size: 30px;
        text-align: center;
    }
    .text_p {
        color: rgb(163 161 161);
        width: 73%;
        text-align: center;
    }
    .texttt_h1 {
        width: 114%;
        font-size: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .text_h5 {
        color: orangered;
        font-size: 15px;
        text-align: center;
        position: relative;
        left: 48px;
    }
    .text_p {
        color: rgb(163 161 161);
        width: 73%;
        text-align: center;
        position: relative;
        left: 100px;
    }
    .col-12 {
        flex: 0 0 auto;
        width: 33%;
    }
    .head_img {
        height: 100%;
    }
    .head_ul{
        gap: 33px;
    }
    .text_p{
        left: 12px;
    }
    .sec_img {
        display: flex;
        position: relative;
        bottom: 275px;
        width: 100%;
        height: 100%;
    }
    .number4{
        height: 475px;
    }
    .text_h5 {
        color: orangered;
        font-size: 15px;
        text-align: center;
        position: relative;
        left: 10px;
    }
    .texttt_h1 {
        width: 100%;
        font-size: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .text_pp {
        left: 81px;
        color: #bdbdbd;
    }
    .box_img {
        width: 80%;
        position: relative;
        left: 80px;
    }
    .text_p{
        left: 67px;
    }
    .fot_gmi{
        position: relative;
        left: 160px;
    }
}
@media screen and (max-width: 380px) {
    .sec_Text {
        color: #fff;
        flex-direction: column;
        display: flex;
        align-items: center;
        height: 325px;
        justify-content: center;
        gap: 25px;
    }
    .head_img{
        height: 70px;
    }
    .head_a2{
        font-size: 13px;
    }
    .head_a{
        font-size: 13px;
    }
    
    .head_ul{
        gap: 15px;
    }
    .sec_img {
        display: flex;
        position: relative;
        bottom: 220px;
        width: 100%;
        height: 100%;
    }
    .text_p{
        left: 14px;
    }
    .text_h1{
        font-size: 34px;
    }
    .number1{
        height: 550px;
    }
    header{
        height: 82px;
    }
    .head_ul {
        gap: 15px;
        display: flex;
        align-items: center;
        height: 82px;
    }
    .num{
        height: 381px;
    }
    .number3{
        height: 363px;
    }
    .text_p{
        left: 12px;
    }
    .number4{
        height: 280px;
    }
    .number2{
        height: 1830px;
    }
    .text_p{
        left: 43px;
    }
    .fot_gmi{
        position: relative;
        left: 81px;
    }
}
@media screen and (max-width: 280px) {
    .head_img{
        height: 50px;
    }
    .head_ul {
        gap: 7px;
        display: flex;
        align-items: center;
        height: 55px;
    }
    .head_a2{
        font-size: 10px;
    }
    .head_a{
        font-size: 10px;
    }
    .text_h1 {
        font-size: 25px;
    }
    .text_pp{
        text-align: center;
    }
    .sec_Text {
        color: #fff;
        flex-direction: column;
        display: flex;
        align-items: center;
        height: 269px;
        justify-content: center;
        gap: 8px;
    }
    .sec_btn{
        width: 95%;
    }
    .number1{
        height: 390px;
    }
    .sec_img{
        bottom: 120px;
    }
    .box_img{
        width: 60%;
    }
    header{
        height: 60px;
    }
    .number2 {
        height: 1327px;
    }
    .num {
        height: 293px;
    }
    .number3 {
        height: 300px;
    }
    .fot_gmi{
        position: relative;
        left: 31px;
    }
}